@import './cssreset.css';

html, body {
  height: 100%;
  background: #fafafa;
  color: #606266;
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}
#app {
  height: inherit;
}

.default-pagination {
  margin-top: 24px;
}
